html, body, a, h1, h2, h3, h4, div, header, section, article, nav, footer, input {
  margin: 0;
  border: 0;
  padding: 0; 
}

	
body{
  background: url(bg-main.jpg) #1111dd top left no-repeat;
}


header {
  height: 150px;
  text-align: right;
  
  padding: 0;
  margin: 0;
  
  font-size: 40px;
  font-family: Garamond;
}
header h1 {
  display: inline;
  color: #feb98b;
  background-color: #0727d0;
  
  padding: 12px;
  border: 1px solid #520;
  border-radius: 10px;
  margin-bottom: 3px;
  
  font-size: 60px;
  font-family: Pacifico Verdana Arial;
}
header h2 {
  display: inline;
  color: #feb98b;
  background-color: #0727d0;
  
  padding: 12px;
  border-radius: 10px;
  
  font-size: 40px;
  font-family: Pacifico Verdana Arial;
}


nav {
  height: 35px;
  text-align: center;
  background-color: #4b7e1a;
  
  padding: 4px;
  margin: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #4b7e1a;
}
nav ul {
  padding: 4px;
  border: 0;
}
nav ul li {
  vertical-align: middle;
  list-style: none;
  display: inline;
  background-color: #1b4e00;
  color: #fc5;
  
  border-radius: 8px;
  border: 3px solid #aa2222;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
  
  font-size: 15px;
  font-family: Helvetica;
  font-weight: bold;
}
	
section {
  background-color: #4b7e1a;
  color: #fc5;
  display: table-row;
  
  padding: 15px;
  border-top: 1px solid #4b7e1a;
  border-bottom: 1px solid #ff8;
}

article {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #ff0000;
  display: table-cell;
}

article img {
  border: 4px solid #aa2222;
  border-radius: 8px;
  display: block;
  width: 50%;
  margin: 0 auto 0 auto;
}

aside {
  display: table-cell;
}

#prev a, #next a {
  font-family: Consolas;
  font-weight: bold;
  font-size: 60px;
  color: #fc5;
  text-decoration: none;
  text-align: center;
  
  padding: 0;
  margin: 0 auto;
  border: 3px solid #aa2222;
  border-radius: 50%;
  background-color: #1b4e00;
  width: 70px;
  height: 70px;
}

#prev a {
  float: left;
}

#next a {
  float: right;
}

figure {
  border: 1px solid #dddd00;
  padding-right: 5px;
  padding-bottom: 30px;
}

figcaption {
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana;
  text-decoration: none;
}


footer {
  height: 15%;
  text-align: center;
  
  margin-top: 25px;
  margin-bottom: 25px;
}
footer p {
  display: inline;
  color: black;
  background-color: #ddddaa;
  
  border: 3px solid #000;
  border-radius: 7px;
  padding: 2px 5px 2px 5px;
}


figure img {
  height: 350px;
  }